
@{

}

<h3 class="text-center">Top Artists</h3>

<!-- Medium and larger screens -->

<div class="row text-center">
    <div class="col-md-1 d-none d-md-block"></div>
    <div class="col-md-2 d-none d-md-block bborder">
        <img src="/Pics/UP.png" class="align-self-start mr-3" alt="Author Thumbnail" width="88">
        <br />
        <h4>User</h4>
    </div>
    <div class="col-md-2 d-none d-md-block bborder">
        <img src="/Pics/UP.png" class="align-self-start mr-3" alt="Author Thumbnail" width="88">
        <br />
        <h4>User</h4>
    </div>
    <div class="col-md-2 d-none d-md-block bborder">
        <img src="/Pics/UP.png" class="align-self-start mr-3" alt="Author Thumbnail" width="88">
        <br />
        <h4>User</h4>
    </div>
    <div class="col-md-2 d-none d-md-block bborder">
        <img src="/Pics/UP.png" class="align-self-start mr-3" alt="Author Thumbnail" width="88">
        <br />
        <h4>User</h4>
    </div>
    <div class="col-md-2 d-none d-md-block bborder">
        <img src="/Pics/UP.png" class="align-self-start mr-3" alt="Author Thumbnail" width="88">
        <br />
        <h4>User</h4>
    </div>
</div>

<br />

<div class="row text-center">
    <div class="col-md-1 d-none d-md-block"></div>
    <div class="col-md-2 d-none d-md-block bborder">
        <img src="/Pics/UP.png" class="align-self-start mr-3" alt="Author Thumbnail" width="88">
        <br />
        <h4>User</h4>
    </div>
    <div class="col-md-2 d-none d-md-block bborder">
        <img src="/Pics/UP.png" class="align-self-start mr-3" alt="Author Thumbnail" width="88">
        <br />
        <h4>User</h4>
    </div>
    <div class="col-md-2 d-none d-md-block bborder">
        <img src="/Pics/UP.png" class="align-self-start mr-3" alt="Author Thumbnail" width="88">
        <br />
        <h4>User</h4>
    </div>
    <div class="col-md-2 d-none d-md-block bborder">
        <img src="/Pics/UP.png" class="align-self-start mr-3" alt="Author Thumbnail" width="88">
        <br />
        <h4>User</h4>
    </div>
    <div class="col-md-2 d-none d-md-block bborder">
        <img src="/Pics/UP.png" class="align-self-start mr-3" alt="Author Thumbnail" width="88">
        <br />
        <h4>User</h4>
    </div>
</div>

<br />

<!-- small screens and smaller -->

<div class="row text-center">
    
    <div class="col-6 d-block d-md-none bborder">
        <img src="/Pics/UP.png" class="align-self-start mr-3" alt="Author Thumbnail" width="88">
        <br />
        <h4>User</h4>
    </div>
    <div class="col-6 d-block d-md-none col-xs-6 bborder">
        <img src="/Pics/UP.png" class="align-self-start mr-3" alt="Author Thumbnail" width="88">
        <br />
        <h4>User</h4>
    </div>
    <div class="col-6 d-block d-md-none col-xs-6 bborder">
        <img src="/Pics/UP.png" class="align-self-start mr-3" alt="Author Thumbnail" width="88">
        <br />
        <h4>User</h4>
    </div>
    <div class="col-6 d-block d-md-none bborder">
        <img src="/Pics/UP.png" class="align-self-start mr-3" alt="Author Thumbnail" width="88">
        <br />
        <h4>User</h4>
    </div>
    <div class="col-6 d-block d-md-none bborder">
        <img src="/Pics/UP.png" class="align-self-start mr-3" alt="Author Thumbnail" width="88">
        <br />
        <h4>User</h4>
    </div>
    <div class="col-6 d-block d-md-none bborder">
        <img src="/Pics/UP.png" class="align-self-start mr-3" alt="Author Thumbnail" width="88">
        <br />
        <h4>User</h4>
    </div>
    <div class="col-6 d-block d-md-none col-xs-6 bborder">
        <img src="/Pics/UP.png" class="align-self-start mr-3" alt="Author Thumbnail" width="88">
        <br />
        <h4>User</h4>
    </div>
    <div class="col-6 d-block d-md-none col-xs-6 bborder">
        <img src="/Pics/UP.png" class="align-self-start mr-3" alt="Author Thumbnail" width="88">
        <br />
        <h4>User</h4>
    </div>
    <div class="col-6 d-block d-md-none bborder">
        <img src="/Pics/UP.png" class="align-self-start mr-3" alt="Author Thumbnail" width="88">
        <br />
        <h4>User</h4>
    </div>
    <div class="col-6 d-block d-md-none bborder">
        <img src="/Pics/UP.png" class="align-self-start mr-3" alt="Author Thumbnail" width="88">
        <br />
        <h4>User</h4>
    </div>
</div>