<div id="SiteContent">
    @{
        ViewData["Title"] = "tHEaPP";
    }

    @{
        if((int)ViewData["FirstLoad"] == 0)
        {
            Layout = "";
        }
    }
    <div class="text-center">
        <h1 class="display-4">Welcome to tHEaPP</h1>
    </div>

    <p>@ViewData["path"]</p>
    
</div>