@{
    ViewData["Title"] = "tHEaPP";
}

<div class="text-center">
    <h1 class="display-4">Welcome to tHEaPP</h1>
</div>

<button id="update">Click Here</button>

<div class="map-container">
   
        <div id="map" class="jvmap-smart"></div>
   
</div>

  <script>
    $(function () {
        var palette = ['#000000', '#948D8D', '#F3ECEC', '#CDCDCD', '#867F7F'];
        generateColors = function () {
            var colors = {},
                key;

            for (key in map.regions) {
                colors[key] = palette[Math.floor(Math.random() * palette.length)];
            }
            return colors;
        },
            map;

        map = new jvm.Map({
            map: 'us_lcc',
            container: $('#map'),
            series: {
                regions: [{
                    attribute: 'fill'
                }]
            },
            onRegionClick: function (event, code){
                alert('Clicked on: ' + code);
                
            }

        });
        map.series.regions[0].setValues(generateColors());
        $('#update').click(function (e) {
            e.preventDefault();
            map.series.regions[0].setValues(generateColors());
        });
    });
  </script>

