
@{

}

<br /><br />
<div class="row">
    <div class="col-4 mx-auto">
        <div class="row">
            <p>Username:</p>
            <input id="username" type="text" />
        </div>
        <div class="row">
            <p>Password:</p>
            <input id="password" type="password" />
        </div>
        <div class="row">
            <button id="loginSub">Login</button>
        </div>
    </div>
</div>