
@{
}

<div class="row">
    <form action="/Home/Signup" method="post">
        <div class="col-md-4">
            <input type="text" value="Username" />
        </div>
        <div class="col-md-4">
            <input type="text" value="Password" />
        </div>
        <button type="submit">Submit</button>
    </form>
    
</div>