
@{
    Layout = "";
    TheApp.Objects.User[] u = new TheApp.IO.DataCom.GetUsers().GetUser((int)ViewData["userID"]);

    try
    {
        TheApp.Objects.File[] pic = new TheApp.IO.DataCom.GetFiles().GetProfilePicture(u[0].userID);
        string path = System.IO.Path.Combine(pic[0].filePath, pic[0].fileName);
        //<p>@path</p>
    }catch(Exception ex)
    {
        
    }

}

<!-- New page -->

    <div class="artist-section">
        <div class="artist-image">

            @try
            {
                TheApp.Objects.File[] pic = new TheApp.IO.DataCom.GetFiles().GetProfilePicture(u[0].userID);
                string path = System.IO.Path.Combine(pic[0].filePath, pic[0].fileName);

                <img src="~/Pics/pic.jfif" alt="Artist Image">

                
                
            }
            catch (Exception ex)
            {
                <img src="~/Pics/pic.jfif" alt="Artist Image">
            }
            
        </div>

        <!-- Change Profile Picture -->
        @await Component.InvokeAsync("FilePost")

        <div class="artist-info">
            <div class="artist-name">@u[0].stageName</div>
            <div class="artist-details">Location: @u[0].location</div>
            <div class="artist-details">Genre: @u[0].genreLabel</div>
            <div class="bio">
                Bio Text, This will be replaced with UserInfo in Database....
            </div>
        </div>
        <div class="new-releases">
            <!-- Replace with actual release data -->
            <div class="release-thumbnail">
                <img src="https://via.placeholder.com/80" alt="Release 1">
            </div>
            <div class="release-thumbnail">
                <img src="https://via.placeholder.com/80" alt="Release 2">
            </div>
            <div class="release-thumbnail">
                <img src="https://via.placeholder.com/80" alt="Release 3">
            </div>
        </div>
    </div>

    <!-- Posts -->
    @await Component.InvokeAsync("Post", new {type = "User", ID = u[0].userID})
    

<!-- End New page -->
