@using TheApp.Objects;
@using TheApp.IO.DataCom;

@{

}

<!-- The Modal -->
<div class="modal" id="MessageModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                
                <button type="button" class="btn btn-primary" onclick="openCreateNewMessageModal()">
                    +
                </button>
                <h4 class="modal-title">Messages</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div id="MessageList" class="container-fluid">

                    

                </div>
            </div>

        </div>
    </div>
</div>



<!-- Message Content Modal -->
<div class="modal" id="MessageContentModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title">Message Content</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" onclick="reopenMessageModal()"></button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <!-- Content of the clicked message goes here -->
                <p>This is the content of the message.</p>
                
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <textarea class="form-control" placeholder="Type your reply"></textarea>
                <button type="button" class="btn btn-primary" onclick="sendReply()">Reply</button>
            </div>

        </div>
    </div>
</div>




<!-- Create New Message Modal -->
<div class="modal" id="CreateNewMessageModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title">Create New Message</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" onclick="reopenMessageModal()"></button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <!-- User Dropdown -->
                <div id="recipientDropdownList" class="mb-3"> <!-- this id used in AJAX -->
                    
                    @await Component.InvokeAsync("ReceiverOfMessage")

                </div>

                <!-- Text Input -->
                <div class="mb-3">
                    <label for="messageText" class="form-label">Message</label>
                    <textarea class="form-control" id="messageText" placeholder="Type your message"></textarea>
                </div>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-primary" onclick="sendMessage()">Send</button> -->
                <button id="sendButton" type="button" class="btn btn-primary" onclick="sendMessage()">Send</button>
            </div>

        </div>
    </div>
</div>
