<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TheApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Main.css" />
    <link rel="stylesheet" href="~/map/jquery-jvectormap-2.0.5.css" asp-append-version="false" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.9/signalr.min.js"></script>


    <!--required here for map -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <header>
        <nav style="z-index: 2 !important;" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand site-link" data-target="Home"></a> 
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul style="z-index: 2 !important;" class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="site-link nav-link text-dark" data-target="Home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="site-link nav-link text-dark" data-target="MyPage">UserPage</a>
                        </li>
                        <li class="nav-item">
                            <a class="site-link nav-link text-dark" data-target="Testing">Test</a>
                        </li>
                    </ul>

                    <!-- Account section -->
                    
                    <!-- Add the 'data-bs-toggle' and 'data-bs-placement' attributes for the popover -->
                    <a class="nav-link text-dark" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-html="true" title="My Account" data-bs-content="My Page"><span>My Account</span></a>
                            
                </div>
            </div>
        </nav>
    </header>

    <!-- SIDE BAR -->
    <div style="text-indent: 5px;cursor: pointer; color: white;" id="sidebar">
        <!-- Sidebar content here -->
        <p>Moozic Box</p>
        <br />
        <!-- Messages button -->
        <p id="openMessages" style="">Messages</p>
        <br />
        
    </div>

    <div class="container">

        @await Component.InvokeAsync("Messages")

        <main role="main" class="pb-3">
           
            <!-- Collapsible Sidebar -->
            

            <!-- Page Content -->
            <div id="content">
                <button style="z-index: 1 !important;" class="btn btn-dark" id="collapse-btn"></button>

                @RenderBody()
                <!-- Page content here -->
            </div>

            

            <!-- Custom media player container -->
            <div id="minMaxButtonContainer">
                <div id="minMaxButton">&#9650;</div>
                <div id="maximizeButton">&#9635;</div>
            </div>

            <div class="media-player-container" id="mediaPlayerContainer">
                <div id="audioControls">
                    <!-- Your audio controls go here -->
                    <!-- Example: Play, Pause, Next, Previous buttons -->
                    <button id="playPauseBtn">Play</button>
                    <button id="nextBtn">Next</button>
                    <button id="prevBtn">Previous</button>
                </div>
                <div id="trackInfo">
                    <!-- Your track info goes here -->
                    OTJ Mix 1 - Demp
                </div>
                <!-- Add additional elements on the right as needed -->
            </div>
        </main>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    
    <script src="~/js/chat.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/map/jquery-jvectormap-2.0.5.min.js"></script>
    <script src="~/map/us_lcc.js"></script>

    <!-- Diable messages until login -->
    <script>
        $(document).ready(function () {
            disableMessages();
        });

        function disableMessages() {
            var paragraph = document.getElementById("openMessages");
            paragraph.setAttribute("disabled", "true");
            
            paragraph.style.color = "lightgray";
            paragraph.style.pointerEvents = "none";
        }

        function enableMessages() {

            loadMessages();

            var paragraph = document.getElementById("openMessages");
            paragraph.removeAttribute("disabled");
            // Reset styles to enable
            paragraph.style.color = "white"; // Reset to default color
            paragraph.style.pointerEvents = "auto"; // Reset pointer events
        }

        function loadMessages() {
            $.ajax({
                url: '/Home/GetMessageList',
                type: 'POST',
                success: function (response) {
                    $('#MessageList').html(response);
                },
                error: function () {
                    alert('Error making AJAX call.');
                }
            });
        }

    </script>

    <!-- Modal stuff -->
    <script>
        function openCreateNewMessageModal() {
            $('#MessageModal').modal('hide');
            $('#CreateNewMessageModal').modal('show');
        }

        function openMessageContentModal() {
            // AJAX to get message(s) content


            $('#MessageModal').modal('hide');
            $('#MessageContentModal').modal('show');
        }

        function reopenMessageModal() {

            $('#MessageModal').modal('show');
        }

        function sendReply() {
            // AJAX request for sending a reply

            console.log('Sending reply via AJAX');
            $('#MessageContentModal').modal('hide');
        }

        function sendMessage() {
            // AJAX request for sending a new message

            console.log('Sending new message via AJAX');
            $('#CreateNewMessageModal').modal('hide');
        }
    </script>

    <!-- Message Modal -->
    <script>
        $(document).ready(function () {
            $("#openMessages").click(function () {
                $("#MessageModal").modal("show");
            });
        });
    </script>

    <!-- Left Sidebar -->
    <script>
        $(document).ready(function () {
            $("#collapse-btn").click(function () {
                $("#sidebar").toggleClass("collapsed");
                $("#content").toggleClass("collapsed");
                $("#collapse-btn").toggleClass("collapsed");
                $(".extended-content").toggleClass("collapsed");
            });
        });
    </script>

    <!-- Media Player -->
    <script>
        $(document).ready(function () {
            var mediaPlayerContainer = $("#mediaPlayerContainer");
            var minMaxButton = $("#minMaxButton");
            var maximizeButton = $("#maximizeButton");

            minMaxButton.click(function () {
                mediaPlayerContainer.toggleClass("show");
                var icon = mediaPlayerContainer.hasClass("show") ? "&#9660;" : "&#9650;";
                minMaxButton.html(icon);
                maximizeButton.toggle();
            });

            maximizeButton.click(function () {
                mediaPlayerContainer.removeClass("show");
                minMaxButton.html("&#9650;");
                maximizeButton.hide();
            });

            // Make sure to use the correct IDs for the buttons.
        });
    </script>

    <script>
        // Your audio list, update via AJAX
        var audioList = [
            '@Url.Action("GetAudio", "Home", new { audioName = "OTJ Mix 1.mp3" })',
            '@Url.Action("GetAudio", "Home", new { audioName = "OTJ Mix 1.mp3" })'
            // Add more audio files 
        ];


        var audio = new Audio(); // Create an audio element

        var currentIndex = 0; // Keep track of the current audio file index

        function playPause() {
            if (audio.paused) {
                audio.src = audioList[currentIndex];
                audio.play();
                $('#playPauseBtn').attr('src', '/Pics/Pause.png');
            } else {
                audio.pause();
                $('#playPauseBtn').attr('src', '/Pics/Play.png');
            }
        }

        function playNext() {
            if (currentIndex < audioList.length - 1) {
                currentIndex++;
                playPause();
            }
        }

        function playPrev() {
            if (currentIndex > 0) {
                currentIndex--;
                playPause();
            }
        }

        // click events for images
        $('#playPauseBtn').on('click', playPause);
        $('#nextBtn').on('click', playNext);
        $('#prevBtn').on('click', playPrev);
    </script>

    <script>
        $(document).ready(function () {
            var sidebar = $("#sidebar");
            var chatToggle = $("#chatToggle");
            var messageContent = $("#messageContent");

            chatToggle.click(function () {
                sidebar.toggleClass("expanded");
            });

            $(".user").click(function () {
                var content = $(this).data("content");
                $("#messageContent").html(content);

                // Open the Bootstrap modal
                $("#messageModal").modal("show");
            });

            // Added click event for Reply button
            $("#replyBtn").click(function () {
                var replyText = $("#replyTextarea").val();
                // Do something with the reply text, e.g., send it
                console.log("Reply: " + replyText);
            });
        });
    </script>
    <script>
        $('.site-link').click(function (e) {
            e.preventDefault();
            var target = $(this).data('target');
            loadContent(target);
        });

        function loadContent(target) {
            $.ajax({
                url: '/Home/LoadPage',
                type: 'POST',
                data: { target: target },
                success: function (response) {
                    $('#SiteContent').html(response);

                },
                error: function () {
                    alert('Error making AJAX call.');
                }
            });
        }

    </script>

    <script>
        $(document).ready(function () {
            var sidebar = $("#sidebarR");
            var chatToggle = $("#chatToggle");
            var messageContent = $("#messageContent");

            chatToggle.click(function () {
                sidebar.toggleClass("expanded");
            });

            $(".user").click(function () {
                var content = $(this).data("content");
                $("#messageContent").html(content);

                // Open the Bootstrap modal
                $("#messageModal").modal("show");
            });

            // Added click event for Reply button
            $("#replyBtn").click(function () {
                var replyText = $("#replyTextarea").val();
                // Do something with the reply text, e.g., send it
                console.log("Reply: " + replyText);
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $('[data-bs-toggle="popover"]').popover({
                trigger: 'click', // Change this to 'click' if you want to toggle on click
                placement: 'bottom',
                html: true
            });
        });
    </script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
