@using TheApp.Objects;
@using TheApp.Util;
@using TheApp.IO.DataCom;
@model Post[];

@{
    foreach (Post p in Model)
    {   
        User[] user = new GetUsers().GetUser(p.userID);

        <div class="post-container center-posts">
            <!-- Post -->

            <div class="post-user-info">
                
                <img class="user-thumbnail" src="https://via.placeholder.com/30" alt="User Thumbnail">

                <div>@user[0].firstName @user[0].lastName</div>
            </div>
            <div class="post-content">
                <p>@p.postText</p>
                <!-- Replace with actual post image, video, or audio -->
                <div class="row">
                    <img src="https://via.placeholder.com/500" alt="Post Image">
                </div>
                <div class="row">
                    <small class="text-muted">@DateTimeConverter.ToDateTimeString(p.timeStamp)</small>
                </div>
                
                
            </div>
            
            <!-- End Post -->
            @await Component.InvokeAsync("Comment", new int[]{ p.mediaElementID })
        </div>



        <br />
    }


    
}


    